# Python
venv/
__pycache__/
*.pyc
*.log

# Node
frontend/node_modules/
frontend/dist/
npm-debug.log

# Data
data/uploads/
data/attachments/

scripts
logs
attachments
recipients.csv

# IDE
.vscode/
.idea/
