# Python
venv/
__pycache__/
*.pyc
*.log

# Node
frontend/node_modules/
frontend/dist/
npm-debug.log

# Data
data
settings.json

scripts
logs
attachments
recipients.csv

# IDE
.vscode/
.idea/

# Build
dist
*.egg-info
